# Ігнорувати файли віртуального середовища Python
venv/
env/

# Ігнорувати файли, що генеруються IDE (наприклад, PyCharm)
.idea/
.vscode/

# Ігнорувати файли зі секретною інформацією (наприклад, ключі доступу)
secrets.ini

# Ігнорувати файли журналів та тимчасові файли
logs/
*.log
*.tmp

# Інші приклади можливих правил
